fastapi==0.103.1
uvicorn[standard]==0.23.2
python-dotenv==1.0.0
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.59
langchain-google-genai==2.1.4
langchain-huggingface==0.2.0
langchain-ollama==0.3.2
langchain-pinecone==0.2.6
langchain-tests==0.3.19
langchain-text-splitters==0.3.8
langsmith==0.3.42
pinecone-client==2.2.4
google-generativeai==0.3.1
pydantic==2.4.2
requests==2.31.0